body {
	font-family: Century Gothic;
	background-color: skyblue;
	color: white;
}
#port_pic {
	height: 30vh;
} 
#lagayan {
	left: 118px;
	width: 190px;
}
#name {
	font-size: 25px;
}
#bar1 {
	width: 100%;
	height: 25px;
	border: ridge;
	border-radius: 30px; 
	border-color: #00CED1;
}
#length1{
	width: 50%; 
  	height: 19px;
  	background-color: #00CED1;
  	border-radius: 30px; 
}
#bar2 {
	width: 100%;
	height: 25px;
	border: ridge;
	border-radius: 30px; 
	border-color: #00CED1;
}
#length2{
	width: 50%; 
  	height: 19px;
  	background-color: #00CED1;
  	border-radius: 30px; 
}
#pix_prof {
	top: 35px;
	margin-bottom: 50px;
	width: 100%;
	right: 15px;
}
#id_prof {
	height: 50vh;
}
.talata {
	font-size: 25px;
}
#front_e {
	top: 35px;
	margin-bottom: 50px;
	width: 100%;
	right: 15px; 
}
.card-category {
	font-size: 20px;
} 
@media screen and (max-width: 375px) { 
    #lagayan {
        left: 95px;
    }  
}